html {
  font-size: 1.5rem;
  background: linear-gradient(rgba(2, 0, 0, 0.6), rgba(255, 255, 255, 0.45)),
    url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btn {
  border: none;
  color: var(--gundam-white);
  cursor: pointer;
}

.featured-title {
  grid-area: featured-title;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 900;
  text-align: left;
  color: var(--gundam-red);
  font-style: italic;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main-grid {
  display: grid;
  grid-template-areas:
    "home . ."
    "title title title"
    "search search search"
    "featured-gunpla featured-gunpla featured-gunpla";
  grid-gap: 0.5rem;
  padding: 1rem;
}
.featured-gunpla {
  grid-area: featured-gunpla;
  display: grid;
  grid-template-areas:
    "featured-title featured-title featured-title"
    "gunpla-first gunpla-second gunpla-third"
    "gunpla-forth gunpla-fifth gunpla-sixth"
    "gunpla-sevnth gunpla-eight gunpla-ninth";
  grid-gap: 0.5rem;
  background-color: var(--gundam-blue-dark);
  padding: 1rem;
}
.gunpla {
  text-align: center;
  padding: 0rem;
  align-content: center;
  /* width: 300px;
  height: 400px; */
  position: relative;
}
img {
  width: 100%;
  height: auto;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gundam-yellow);
  opacity: 0;
}
.text {
  color: var(--gundam-red);
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.gunpla:hover .overlay {
  opacity: 0.5;
}

@media all and (max-width: 800px) {
  .main-grid {
    display: grid;
    grid-template-areas:
      "home . ."
      "title title title"
      "search search search"
      "featured-gunpla featured-gunpla featured-gunpla";
    grid-gap: 0.5rem;
    padding: 1rem;
  }
  .featured-gunpla {
    grid-area: featured-gunpla;
    display: grid;
    grid-template-areas:
      "featured-title featured-title"
      "gunpla-first gunpla-second"
      "gunpla-third gunpla-forth"
      "gunpla-fifth gunpla-sixth"
      "gunpla-sevnth gunpla-eight"
      "gunpla-ninth .";
    grid-gap: 0.5rem;
    background-color: var(--gundam-blue-dark);
    padding: 1rem;
  }
}

@media (max-width: 450px) {
  .main-grid {
    display: grid;
    grid-template-areas:
      "home"
      "title"
      "search"
      "featured-gunpla";
    grid-gap: 0.5rem;
    padding: 0rem;
    position: absolute;
  }
  .featured-gunpla {
    grid-area: featured-gunpla;
    display: grid;
    grid-template-areas:
      "featured-title"
      "featured-title"
      "gunpla-first"
      "gunpla-second"
      "gunpla-third"
      "gunpla-forth"
      "gunpla-fifth"
      "gunpla-sixth"
      "gunpla-sevnth"
      "gunpla-eight"
      "gunpla-ninth";
    grid-gap: 0.5rem;
    background-color: var(--gundam-blue-dark);
  }
  .home {
    grid-area: home;
    text-align: left;
    padding-left: 0.5rem;
  }
  html {
    margin: 0;
    text-align: center;
  }
  body {
    margin: 0;
    text-align: center;
  }
  .title {
    font-size: 0.75rem;
    grid-area: title;
    text-align: center;
    font-family: fantasy, sans-serif;
    font-style: italic;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}
.gunpla.first {
  grid-area: gunpla-first;
}
.gunpla.second {
  grid-area: gunpla-second;
}
.gunpla.third {
  grid-area: gunpla-third;
}
.gunpla.forth {
  grid-area: gunpla-forth;
}
.gunpla.fifth {
  grid-area: gunpla-fifth;
}
.gunpla.sixth {
  grid-area: gunpla-sixth;
}
.gunpla.sevnth {
  grid-area: gunpla-sevnth;
}
.gunpla.eight {
  grid-area: gunpla-eight;
}
.gunpla.ninth {
  grid-area: gunpla-ninth;
}
